/* Slider Container */
.slider {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Slide List */
.slider .list {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

/* Individual Slide */
.slider .list img {
    flex-shrink: 0;/* Prevents images from shrinking */
    width: 100%;/* Images take up the full width of the slider */
    height: auto;
    max-height: 700px;/* Uniform height for all images */
    object-fit: cover; /* Crops and adjusts the image proportionally */
}

/* Navigation Buttons */
.slider .buttons {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
}
.slider .buttons button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}

/* Dots Navigation */


.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}